@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing:border-box;
}

body {
    background-image: url("./parol.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    margin: 0;
}

h1 {
    font-size: 4rem;
    
}


.countdown-container{
    display:flex;


}